<ion-header>
    <ion-toolbar style="padding-bottom: 15; padding-top: 15;" color="dark">
        <ion-title>
            <ion-img src="https://firebasestorage.googleapis.com/v0/b/parking-465a3.appspot.com/o/icon.png?alt=media&token=f8c77154-b02d-4c6e-adc7-328aef5c800a" style="width: 120px; margin: auto;"></ion-img>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="medium">
    <div class="ion-padding"><br>
        <ion-button color="primary" expand="block" shape="round">ลานจอดรถโซน A</ion-button><br>
        <ion-button color="primary" expand="block" shape="round">ลานจอดรถโซน B</ion-button>
    </div>
</ion-content>